/* no underline on links */
a 
{
  text-decoration: none;
  color: white;
}

section .container 
{
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0px auto;
  overflow:hidden;
}

/* preloader styles */
.preloader
{
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.preloader p 
{
  color: transparent;
  pointer-events: none;
  z-index: 5;
  font-size: 200px;
  font-family: "Vladimir Script";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  animation: preloader-loading linear 2s infinite;
}

.preloader .shadow 
{
  filter: blur(3px);
  transform: translate(-10%, -50%);
  z-index: 4;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--main-color-dark);
}

@keyframes preloader-loading 
{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* landing page styles */
.landing .logo {
  color: transparent;
  opacity: 0;
  font-family: "Vladimir script";
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  pointer-events: none;
  user-select: none;
  padding-top: 35px;
  animation: load-logo 3s ease-in-out 1 1700ms forwards;
}

@keyframes load-logo
{
  from{
    position: absolute;
    top: -200px;
  }
  to{
    position: relative;
    top: 0;
    padding-top: 35px;
    opacity: 1;
  }
}

.landing.skills {
  width: auto;
  height: auto;
  margin: 10px 0px;
  float: left;
}

.landing .skills h2 {
  opacity: 0;
  color: white;
  font-size: 27px;
  line-height: 31px;
  font-family: "Arial";
  text-transform: capitalize;
  animation: load-skills 3s ease-in-out 1 2800ms forwards;
}

@keyframes load-skills
{
  from{
    margin-left: -200px
  }
  50%{
    opacity: 0;
  }
  to{
    opacity: 1;
    margin-left: 0px;
  }
}

.landing .skills h2:nth-child(2)
{
  animation-delay: 3300ms;
}
.landing .skills h2:nth-child(3) 
{
  animation-delay: 3800ms;
  color: var(--accent-color);
  font-weight: bold;
}

.landing .image-group img 
{
  opacity: 0;
  z-index: 5;
  width: 30%;
  height: 36%;
  position: absolute;
  top: 31%;
  left: 21%;
  animation: set-image 1.25s ease-in-out 3000ms 1 forwards;
}

@keyframes set-image
{
  from{
    top:34%;
    left:22%;
  }
  to{
    top: 31%;
    left: 21%;
    opacity: 1;
  }
}

.landing .image-group
{
  float: left;
}

.landing .image-group img:hover + .image-shadow
{
  top: 31%;
  left: 21%;
}

.landing .image-group .image-shadow 
{
  z-index: 4;
  width: 30%;
  min-height: 36%;
  position: absolute;
  box-shadow: inset 0px 0px 15px 0px black;
  top: 34%;
  left: 22%;
  background-color: var(--main-color-dark);
  transition: all 1s ease;
}

.landing .me 
{
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 6%;
  float: left;
}

.landing .me h2 
{
  opacity: 0;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 47px;
  font-family: "Segoe UI";
  animation: text-slide-right 3s ease-in-out 1 1800ms forwards;
}

.landing .me a i 
{
  opacity: 0;
  color: var(--accent-color);
  text-transform: capitalize;
  float: left;
  font-size: 20px;
  margin: 5px 10px;
  animation: text-slide-right 3s ease-in-out 1 forwards;
}

.landing .me a:nth-child(2) i
{
  position: absolute;
  left: 60%;
  animation-delay: 2000ms;
}

.landing .me a:nth-child(3) i
{
  position: absolute;
  left: 32.5%;
  animation-delay: 2250ms;
}

.landing .me a:nth-child(4) i
{
  position: absolute;
  animation-delay: 2500ms;
  left: 0;
}

@keyframes text-slide-right
{
  from{
    margin-left: -200px;
  }
  to{
    margin-left: 0px;
    opacity: 1;
  }
}

.landing .me i::after 
{
  display: block;
  content: "";
  border-bottom: 3px solid var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 50%;
}

.landing .me i:hover:after 
{
  transform: scalex(1);
}

.landing .navigation 
{
  width: 600px;
  height: 600px;
  position: absolute;
  transform: rotate(90deg);
  text-align: right;
  right: 0;
  bottom: 2%;
}

.landing .navigation h3
{
  white-space: nowrap;
}

.landing .navigation a 
{
  opacity: 0;
  width: auto;
  height: auto;
  color: transparent;
  position: relative;
  display: inline-block;
  font-size: 100px;
  font-family: "Arial";
  line-height: 95px;
  margin: 5px 0;
  white-space: nowrap;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  animation: load-a 1.5s ease-in-out 1 forwards;
}

@keyframes load-a
{
  from{
    margin-right: -300px;
  }
  to{
    margin-right: 0px;
    opacity: 1;
  }
}

.landing .navigation a:nth-child(9)
{
  animation-delay: 5000ms;
}

.landing .navigation a:nth-child(7)
{
  animation-delay: 5500ms;
}

.landing .navigation a:nth-child(5)
{
  animation-delay: 5750ms;
}

.landing .navigation a:nth-child(3)
{
  animation-delay: 6250ms;
}

.landing .navigation a:nth-child(1)
{
  animation-delay: 7000ms;
}

.landing .navigation a::before 
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  transition: width 1s ease;
}

.landing .navigation a:hover::before 
{
  width: 100%;
}

.landing .navigation a::after 
{
  display: block;
  content: "";
  border-bottom: 3px solid var(--accent-color);
  transform: scaleX(0);
  transition: transform 1s ease;
  transform-origin: 0% 50%;
}


.landing .navigation a.active::after 
{
  transform: scaleX(1);

}


.landing .navigation .active::after 
{
  transform: scalex(1);
}

.landing .navigation a:hover:after 
{
  transform: scalex(1);
}

.landing .navigation .active,
.landing .navigation .active:hover,
.landing .navigation .active:focus
{
  color: white;
  cursor: default;
}


/* about styles */
.themeColorBefore .container .p-wrapper p .themeColor
{
  text-transform: capitalize;
  color: white;
  transition: all 1s ease-in-out;
}

.themeColorAfter .container .p-wrapper p .themeColor
{
  text-transform: capitalize;
  color: var(--accent-color);
  display: inline-block;
  transition: all 1s 1s ease-in-out;
}

.themeColorAfter .container .p-wrapper p  a .themeColor::after 
{
  display: block;
  content: "";
  border-bottom: 3px solid var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 50%;
}

.themeColorAfter .container .p-wrapper p  a .themeColor:hover:after
{
  transform: scalex(1);
}

.about h1 {
  color: white;
  font-size: 30px;
  font-family: "Lucida Sans Unicode";
  padding-top: 50px;
}

.about .p-wrapper
{
  width: 50%;
  height: auto;
  float: left;
}
.about p
{
  color: white;
  font-size: 23px;
  font-family: "Dubai";
  font-weight: lighter;
  width: 100%;
  line-height: 39px;
}

.about .sticky-guide
{
  width: 50%;
  min-height: 610px;
  float: left;
  position: relative;
}

.about .image-group
{
  width: 100%;
  height: 300px;
  float: left;
  position: sticky;
  top:0;
}

.about .image-group img 
{
  z-index: 5;
  width: 413px;
  height: 244px;
  position: absolute;
  top: 5%;
  right: 10%;
}

.about .image-group img:hover + .image-shadow
{
  top: 5%;
  right: 10%;
}

.about .image-group .image-shadow 
{
  z-index: 4;
  width: 413px;
  height: 244px;
  position: absolute;
  box-shadow: inset 0px 0px 15px 0px black;
  top: 15%;
  right: 5%;
  background-color: var(--main-color-dark);
  transition: all 1s ease;
}

/* Software Styles */
/* .software .info
{
  margin-left: 15%;
  width: 35%;
  height: auto;
  position: relative;
  float: left;
}

.software h1 {
  color: white;
  font-size: 50px;
  font-family: "Lucida Sans Unicode";
  padding-top: 120px;
}

.software .quote
{
  color: white;
  font-size: 27px;
  font-family: "Arial";
  padding: 50px 70px;
  line-height: 40px;
}

.software .genre
{
  color: white;
  font-size: 20px;
  font-family: "Dubai";
}

.software button
{
  color: white;
  background-color: var(--accent-color);
  padding: 5px 50px;
  border-radius: 50px;
  border: 0;
  margin: 50px 0px;
  font-family: "Dubai";
  font-size: 20px;
  transition: all 0.5s ease !important;
}

.software button:hover{
  cursor: pointer;
  background: var(--accent-color-dark);
}

.software .sticky-guide
{
  width: 50%;
  min-height: 610px;
  float: left;
  position: relative;
}

.software .image-group
{
  width: 100%;
  height: 500px;
  float: left;
  position: sticky;
  top:0;
}

.software .image-group img 
{
  z-index: 5;
  width: 690px;
  height: 388px;
  position: absolute;
  top: 15%;
  right: 0%;
}

.software .image-group img:hover + .image-shadow
{
  top: 15%;
  right: 0%;
}


.software .image-group .image-shadow 
{
  z-index: 4;
  width: 690px;
  height: 388px;
  position: absolute;
  box-shadow: inset 0px 0px 15px 0px black;
  top: 10%;
  right: -5%;
  background-color: var(--main-color-dark);
  transition: all 1s ease;
} */

/* Web Styles */
.web .info
{
  width: 50%;
  height: auto;
  position: relative;
  float: left;
}

.web h1 
{
  color: white;
  font-size: 50px;
  font-family: "Lucida Sans Unicode";
  padding-top: 120px;
}

.web .quote
{
  color: white;
  font-size: 27px;
  font-family: "Arial";
  padding: 50px 70px;
  line-height: 40px;
}

.web .genre
{
  color: white;
  font-size: 20px;
  font-family: "Dubai";
}

.web button
{
  color: white;
  background-color: var(--accent-color);
  padding: 5px 50px;
  border-radius: 50px;
  border: 0;
  margin: 50px 0px;
  font-family: "Dubai";
  font-size: 20px;
  transition: all 0.5s ease !important;
}

.web button:hover{
  cursor: pointer;
  background: var(--accent-color-dark);
}

.web .sticky-guide
{
  width: 50%;
  min-height: 610px;
  float: left;
  position: relative;
}

.web .image-group
{
  width: 100%;
  height: 500px;
  float: left;
  position: sticky;
  top:0;
}

.web .image-group img 
{
  z-index: 5;
  width: 100%;
  height: auto;
  position: absolute;
  top: 15%;
  right: 20%;
}

.web .image-group img:hover + .image-shadow
{
  top: 15%;
  right: 20%;
}


.web .image-group .image-shadow 
{
  z-index: 4;
  width: 100%;
  min-height: 92%;
  position: absolute;
  box-shadow: inset 0px 0px 15px 0px black;
  top: 25%;
  right: 15%;
  background-color: var(--main-color-dark);
  transition: all 1s ease;
}

/* Contact Styles */
.contact .contactContainer
{
  position: relative;
  width: 50%;
  height: 100%;
  margin: 100px auto 0px auto;
}

.contact
{
  overflow: hidden;
}

.contact h1
{
  color: white;
  font-family: 'Dubai';
  font-size: 50px;
}

.contact .status
{
  color: white;
  font-family: "Dubai";
  margin: 25px 75px;
  font-size: 25px;
  line-height: 45px;
}

.contact .links
{
  color: white;
  font-size: 25px;
  margin: 0px 75px;
  width: auto;
  height: auto;
}

.contact .links i
{
  float: left;
  color: var(--accent-color);
}

.contact .links p
{
  font-family: "Dubai";
  margin-left: 45px;
  white-space: nowrap;
}

.contact .links a
{
  width: auto;
  height: auto;
  margin: 5px 0px;
  display: inline-block;
  transition: all 0.5s;
}

.contact .links a:hover
{
  color: var(--accent-color);
}

.contact a::after 
{
  display: block;
  content: "";
  padding-bottom: 2px;
  border-bottom: 3px solid var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 50%;
}

.contact a:hover:after 
{
  transform: scalex(1);
}

.contact .copyright
{
  color: white;
  font-size: 25px;
  font-family: "Dubai";
  margin-top: 50px;
  bottom: 130px;
  position: absolute;
}